<h1>Pipes <small>Angular</small></h1>
<hr>
<table>
  <thead>
    <tr>
      <th>Variable</th>
      <th>Pipe</th>
      <th>Salida</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ nombre }}</td>
      <td>upperCase</td>
      <td>{{ nombre | uppercase}}</td>
    </tr>
    <tr>
      <td>{{ nombre }}</td>
      <td>lowerCase</td>
      <td>{{ nombre | lowercase}}</td>
    </tr>
    <tr>
      <td>{{ nombre }}</td>
      <td>slice: 3</td> <!--saca 3 elementos -->
      <td>{{ nombre | slice: 3}}</td>
    </tr>
    <tr>
      <td>{{ nombre }}</td>
      <td>slice 0:3</td> <!--conserva esos 3 elementos, posicion:cantidad -->
      <td>{{ nombre | slice: 0:3}}</td>
    </tr>
    <tr>
      <td>{{ array }}</td>
      <td>slice 1:5</td> <!--conserva esos 3 elementos, posicion:cantidad -->
      <td>{{ array | slice: 1:5}}</td>
    </tr>
    <tr>
      <td>{{ PI }}</td>
      <td>number</td> <!--El number es como el decimal. lo redondea a  3 decimales-->
      <td>{{ PI | number:'3.0-0' }} <br> {{ PI | number:'1.0-3' }} <br> {{ PI | number:'.0-2' }} </td> <!--si se agrega ese '1.0-2' quiere decir que tendra un entero, con decimales 0-->
    </tr>
    <tr>
      <td>{{ porcentaje }}</td>
      <td>percent</td> <!---->
      <td>{{ porcentaje | percent }} <br> {{ porcentaje | percent: '2.2-2' }}</td>
    </tr>
    <tr>
      <td>{{ salario }}</td>
      <td>currentcy</td> <!--da un tipo de moneda-->
      <td>{{ salario | currency}} <br> {{ salario | currency: 'Bs'}} <br>{{ salario | currency: 'EUR'}}</td>
    </tr>
    <tr>
      <td>{{ valorPromesa }}</td>
      <td>async</td> <!--activa el metodo-->
      <td>{{ valorPromesa | async }}</td>
    </tr>
    <tr>
      <td>{{ fecha }}</td>
      <td>Date</td> <!-- -->
      <td>{{ fecha | date }} <br>{{ fecha | date: 'dd/MM/yyy' }} <br>{{ fecha | date: 'MM/dd/yyy' }}</td>
    </tr>
    <tr>
      <td>{{ nombre2 }}</td>
      <td>capitalizado</td> <!---->
      <td>{{ nombre2 | capitalizado}}</td>
    </tr>
  </tbody>
</table>
<h4>slice</h4>
<ul>
  <li *ngFor="let item of array | slice:5:20">{{ item }}</li>
</ul>
<h3>JSON</h3>
<hr>
<div>
  {{ heroe | json }}
</div>
<pre>
  {{ heroe | json }}
</pre>